<header class="intro-header header4">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="page-heading">
					<h1>About Me</h1>
					<hr class="small">
					<span class="subheading">This is what I do.</span>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<p>Steady, Rouge Two Activate harpoon. Good shot, Janson. One more pass. Coming around. Once more. One more. Cable out! Let her go! Detach cable. Cable detached. Come on! Whooha!! That got him! I see it, Wedge. Good work. I don't think we can protect two transports at a time. It's risky, but we can't hold out much longer. We have no choice. Launch patrols. Evacuate remaining ground staff. No, no! No! This one goes there, that one goes there. right? Artoo, you take good care of Master Luke now, understand? And...do take care of yourself. Oh, dear, oh, dear.</p>
			<%= image_tag 'angels.jpg', alt: 'angels image' %>
		</div>
	</div>
</div>
